<footer id="footer">
     <div class="container">
          <div class="row">

               <div class="col-md-6 col-sm-8">
                    <div class="footer-info">
                         <div class="section-title">
                              <h2>Contact us</h2>
                         </div>

                         <ul class="social-icon">
                             {{ range .Site.Params.footer.social }}
                                <li><a href="{{ .link }}" class="fa {{ .icon }}"></a></li>
                            {{ end }}
                         </ul>

                         <div class="copyright-text">
                              <p>{{.Site.Copyright}}</p>
                         </div>
                    </div>
               </div>

               <div class="col-md-6 col-sm-12">
                    <div class="footer-info newsletter-form">
                         <div class="section-title">
                              <h2>Newsletter Signup</h2>
                         </div>
                         <div>
                              <div class="form-group">
                                   <form action="#" method="get">
                                        <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                        <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                   </form>
                                   <span><sup>{{"*"}}</sup> Please note - we do not spam your email.</span>
                              </div>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</footer>
